/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product-container {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: white;
    border-radius: 15px
}
/* Basic styling for links */
img {
    width: 401px;
    height: auto;
    border-radius: 15px 0 0 15px;
    object-fit: contain;
}

section {
    display: flex;
    flex-direction: column;
    padding: 44px 40px;
    border-radius: 0 15px 15px 0;
    background-color: white;
    width: 400px;
    height: 100%;
    justify-content: center;
    gap: 22px;    
}

h1 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    padding-bottom: 18px;
    letter-spacing: 5px;
}

h2 {
    font-size: 40px;
    font-family: "Fraunces", serif;
    padding-bottom: 18px;
    width: 80%;
    line-height: 1.1;
    color: hsl(158, 42%, 18%);
    filter: brightness(0.7);
}

p {
    font-size: 18px;
    padding-bottom: 18px;
    width: 85%;
    letter-spacing: 0.5px;
    color: hsl(228, 12%, 48%);
}

.price-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.price {
    font-size: 36px;
    font-family: "Fraunces", serif;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
}

.original-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #999;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #007BFF;
}

/* Placeholder for reusable button styles */
button {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: hsl(158, 36%, 37%);
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

button > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}

button:hover {
    background-color: hsl(158, 42%, 18%);
}